{% extends "base.html" %}

{% block content %}

<div class="grid-container">

  <div class="row">
    <div class="col-md-12">
      <h1>ProtoDUNE EVENT DISPLAYS: Plane {{ plane }} GRID</h1>
    </div>
  </div>

  <div class="row">

    {% for ELE in range (0, images|length ) %}

      <div class="col-md-6">
        <div class="grid-image-container">
          <img src="{{ url_for('serve_image', subdir='EventDisplays', filename=images[ELE]) }}" alt="alt"/>
        </div>
      </div>

    {% endfor %}

  </div>
  
</div>

{% endblock %}
