{% extends "base.html" %}

{% block content %}

<div class="grid-container">

  <div class="row">
    <div class="col-md-12">
      <h1>ProtoDUNE EVENT DISPLAYS: APA/CRP {{ ele }} GRID</h1>
    </div>
  </div>

  <div class="row">
    {% for image in images %}
    <div class="col-md-4" style="padding-left: 0; padding-right: 0">
      <div class="grid-image-container">
        <img src="{{ url_for('serve_image', subdir='EventDisplays', filename=image) }}" alt="{{ image }}"/>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
